<?xml version="1.0" encoding="UTF-8"?>
<ncl id="{{# fn.case.lower }}{{# fn.case.msdos }}{{& meta.title }}{{/ fn.case.msdos }}{{/ fn.case.lower }}">
  <head>
    <regionBase>
      <region id="regionTv" left="0" top="0" width="1280" height="720" zIndex="1"/>
      <region id="regionApplication" width="100%" height="100%" zIndex="2"/>
    </regionBase>
    <descriptorBase>
      <descriptor id="descriptorTv" region="regionTv" focusBorderWidth="0" focusBorderColor="black" selBorderColor="black" focusBorderTransparency="100%"/>
      <descriptor id="descriptorApplication" region="regionApplication" focusIndex="application" focusBorderWidth="0" focusBorderColor="black" selBorderColor="black" focusBorderTransparency="100%"/>
    </descriptorBase>
    <connectorBase>
      <causalConnector id="onBeginSet">
        <connectorParam name="var"/>
        <simpleCondition role="onBegin"/>
        <simpleAction role="set" value="$var"/>
      </causalConnector>
      <causalConnector id="onEndAttributionSet">
        <connectorParam name="valueSet"/>
        <simpleCondition role="onEndAttribution" max="unbounded" qualifier="or"/>
        <compoundAction operator="seq">
            <simpleAction role="pause"/>
            <simpleAction role="set" max="unbounded" qualifier="seq" value="$valueSet"/>
            <simpleAction role="resume"/>
        </compoundAction>
      </causalConnector>
    </connectorBase>
  </head>
  <body>
    <port id="portTv" component="tv"/>
    <port id="portApplication" component="application"/>
    <media id="tv" src="sbtvd-ts://video" descriptor="descriptorTv"> 
        <property name="bounds"/>
    </media>
    <media id="application" descriptor="descriptorApplication" src="main.lua">
      <property name="currentKeyMaster"/>
      {{# var.build.ncl.screens }}
      <property name="screen_{{ left }}_{{ top }}_{{ width }}_{{ height }}"/>
      {{/ var.build.ncl.screens }}
      {{# app.screens }}
      <property name="screen_{{ left }}_{{ top }}_{{ width }}_{{ height }}"/>
      {{/ app.screens  }}
      {{# var.build.ncl.settings }}
      <property name="settings.{{ . }}"/>
      {{/ var.build.ncl.settings }}
    </media>
    <media type="application/x-ginga-settings" id="settings">
      <property name="service.currentKeyMaster" value="application"/>
      {{# var.build.ncl.settings }}
      <property name="{{ . }}"/>
      {{/ var.build.ncl.settings }}
    </media>
    {{! focus begin }}
    <link xconnector="onBeginSet">
      <bind role="onBegin" component="application"/>
      <bind role="set" component="settings" interface="service.currentKeyMaster">
        <bindParam name="var" value="application"/>
      </bind>
    </link>
    {{! focus end }}
    {{# var.build.ncl.screens }}
    <link xconnector="onEndAttributionSet">      
      <bind component="application" interface="screen_{{ left }}_{{ top }}_{{ width }}_{{ height }}" role="onEndAttribution"/>
      <bind role="pause" component="tv"/>
      <bind component="tv" role="set" interface="bounds">
        <bindParam name="valueSet" value="{{ left }}, {{ top }}, {{ width }}, {{ height }}"/> 
      </bind>
      <bind role="resume" component="tv"/>
    </link>
    {{/ var.build.ncl.screens }}
    {{# app.screens }}
    <link xconnector="onEndAttributionSet">      
      <bind component="application" interface="screen_{{ left }}_{{ top }}_{{ width }}_{{ height }}" role="onEndAttribution"/>
      <bind role="pause" component="tv"/>
      <bind component="tv" role="set" interface="bounds">
        <bindParam name="valueSet" value="{{ left }}, {{ top }}, {{ width }}, {{ height }}"/> 
      </bind>
      <bind role="resume" component="tv"/>
    </link>
    {{/ app.screens }}
    {{# var.build.ncl.settings }}
    <link xconnector="onBeginSet">
      <bind role="onBegin" component="application"/>
      <bind role="set" component="application" interface="settings.{{ . }}">
        <bindParam name="var" value="$get"/>
      </bind>
      <bind role="get" component="settings" interface="{{ . }}"/>
    </link>
    {{/ var.build.ncl.settings }}
  </body>
</ncl>
