name: cd

on:
  workflow_dispatch:
  push:
    tags: 
      - "*.*.*"

permissions:
  id-token: write

jobs:
  npm: 
    runs-on: ubuntu-latest   
    strategy:
      fail-fast: false
      matrix:
        package: ['gly-cli', 'gly-engine', 'gly-engine-lite', 'gly-engine-micro', 'gly-engine-nano']
    steps:
      -
        uses: actions/checkout@v4
      -
        uses: actions/setup-node@v2
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"
      -
        run: npm install -g npm@latest
      -
        if: matrix.package != 'gly-cli'
        working-directory: ./npm/${{ matrix.package }}
        run: npm run build
      -
        if: matrix.package == 'gly-cli'
        run: npm run build
      - 
        working-directory: ./dist
        run: |
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
